<!DOCTYPE html>

<head>
<a href="/">Home</a>

  <link rel="stylesheet" href="/style.css">
  <title>Task Manager</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <div id="git-footer">
  <a href="http://github.com/loriculberson">visit: github.com/loriculberson</a>
  </div>

</body>
</html>